b {
    color: red;
    font-size: 50px;
    margin: 125px;
}
button {
    background:radial-gradient(rgb(248, 214, 60),rgb(226, 61, 61));
    height: 50px;
    border-radius: 50px;
    border: solid 2px rgb(151, 147, 147);
    color: rgb(19, 122, 100);
    width: 200px;
    font-size: 20px;
    margin:20px 50px;
    font-weight: bolder;
}
div {
    background:radial-gradient(white,black);
    padding: 50px 0;
}